/* stylesheet */ 

body {
    background-color: lightgray;
}

.images {
    height: auto; 
    width: 450px;
}

.title {
    font-size: 28px;
}

.main_ul {
    font-size: 22px; 
    font-weight: bold;
}

.ingredients, 
.steps {
    font-size: 20px;
}
